body {
	background: white;
	font-family: Roboto;
	background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#container{
	box-shadow : 0 0 3px rgba(0,0,0, 0.1);
	width: 50vmin;
	margin:20vmin  auto;
	border-radius: 10px;
	border: 10px solid black;
	
}
.onclick {
	color: grey;
	opacity: 39%;
	text-decoration: line-through;
}
h1{
	color: white;
	margin: 0;
	padding: 3vmin 4vmin;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
	background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: bungee shade ;
}
ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


li{
	background: linear-gradient(160deg, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
	height: 40px;
	line-height: 40px;
	color:white;
	
}
li:nth-child(2n){
	background-color: #f7f7f7;
}
input{
	font-size: 18px;
	background-color: #f7f7f7;
    width: 100%;
    padding: 3vmin 3vmin 3vmin 5vmin;
    box-sizing: border-box;
    color: red;
    border: 3px solid rgba(0, 0, 0, 0);
}
input:focus{
	background: #f7f7f7;
	border: 3px solid #2980b9;
    outline: none;
}
.fa-plus{
	float: right;
	padding: 5px 5px;
	margin-right: 2px;
}
span{
	background-color: #e74c3c;
	margin-right: 20px;
	height: 40px;
	text-align: center;
	color: white;
	display: inline-block;
	width: 0px;
	transition: 0.3s linear;
	opacity: 0;
}
li:hover span{
	width: 40px;
	opacity: 1.0;
}